<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>{{ name }}</title>
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<style>
	header {
		background-color: blanchedalmond;
		border-bottom: aqua 3px solid;
		padding-top: 8px;
		padding-bottom: 10px;
		margin-bottom: 8%;
	}
	body {
		margin: 0;
	}
	.profilepicture {
		border-radius: 50%;
		width: 80%;
		padding-top: 5%;
	}
	h1 {
		font-family: 'Sofia';
		font-size: 400%;
	}
	.box {
		float: left;
		width: 50%;
		background: rgb(255, 192, 224) 30px;
		border-radius: 10%;
	}
	.container {
		width: 80%;
		margin: auto;
		overflow: hidden;
	}
	#ig {
		border-radius: 0%;
		width: 40px;
		height: 40px;
		padding-bottom: 50px;
		padding-top: 50px;
		vertical-align: middle;
	}
	#footer {
		width: 100%;
	}
	footer {
		background-color: blanchedalmond;
		border-top: aqua 3px solid;
		width: 100%;
		color: white;
		min-height: 52px;
	}
	.card {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		background-color: aquamarine;
		max-width: 25%;
		float: left;
		text-align: center;
		font-family: arial;
		padding-bottom: 2%;
		border-radius: 7%;
		margin-bottom: 10%;
	}
	#card2 {
		margin-left: 12.5%;
		margin-right: 12.5%;
	}
	</style>
</head>
<body background-color="white" width="960" height="540">
	<header>
		<h1><center>WeLc0mE</center></h1>
	</header>
	<div class="container">
		<div class="card">
			<img class="profilepicture" src="https://instagram.fcgk4-2.fna.fbcdn.net/vp/4e6746aa86500f4099cfe3c7fceed131/5C191E8C/t51.2885-19/s320x320/26429265_327416624415356_8591753192822276096_n.jpg">
			<h3>Hello my name is {{ name }}</h3>
			<article>NPM : {{ npm }}</article>
			<article>I am {{ age }} years old</article>
			<article>Saya berkuliah di {{ kuliah }}</article>
			<article>Saya mempunyai hobi {{ hobi }}</article>
			<article>{{ deskripsi }}</article>
		</div>
		<div class="card" id="card2">
			<img class="profilepicture" src="https://media.karousell.com/media/photos/products/2018/03/15/we_bare_bears_hungry_grizz_1521099031_b282ee9f0">
			<h3>Hello my name is {{ name }}</h3>
			<article>NPM : {{ npm }}</article>
			<article>I am {{ age }} years old</article>
			<article>Saya berkuliah di {{ kuliah }}</article>
			<article>Saya mempunyai hobi {{ hobi }}</article>
			<article>{{ deskripsi }}</article>
		</div>
		<div class="card">
			<img class="profilepicture" src="https://data.whicdn.com/images/244128383/large.jpg">
			<h3>Hello my name is {{ name }}</h3>
			<article>NPM : {{ npm }}</article>
			<article>I am {{ age }} years old</article>
			<article>Saya berkuliah di {{ kuliah }}</article>
			<article>Saya mempunyai hobi {{ hobi }}</article>
			<article>{{ deskripsi }}</article>
		</div>
	</div>
	<footer class="container" id="footer">
		<center><a href="https://www.instagram.com/falahdinaprilia/"><img id="ig" src="https://image.flaticon.com/icons/svg/174/174855.svg"></a></center>
	</footer>
</body>
</html>
